<footer class="footer py-8 @@classList">
  <div class="container-lg">
    <div class="row align-items-center">
      <div class="col-12 col-md text-center text-md-left">

        <!-- List -->
        <ul class="list-inline list-unstyled mb-md-0">
          <li class="list-inline-item">
            <a class="text-white-60" href="/">
              Domov
            </a>
          </li>
          <li class="list-inline-item ml-md-8">
            <a class="text-white-60" href="/o-nas.html">
              O nás
            </a>
          </li>
          <li class="list-inline-item ml-md-8">
            <a class="text-white-60" href="/portfolio.html">
              Portfólio
            </a>
          </li>
          <li class="list-inline-item ml-md-8">
            <a class="text-white-60" href="/kontakt.html">
              Kontakt
            </a>
          </li>
        </ul>

      </div>
      <div class="col-12 col-md-auto text-center text-md-left">

        <!-- Social -->
        <ul class="list-inline list-unstyled text-gray-600 mb-0">k
          <li class="list-inline-item">
            <a class="icon icon-sm text-reset" href="https://www.instagram.com/michal_ducak_beritrend/" target="_blank">
              @@include("@@webRoot/icons/social-icons/instagram.svg")
            </a>
          </li>
          <li class="list-inline-item ml-1">
            <a class="icon icon-sm text-reset" href="https://www.facebook.com/beritrend" target="_blank">
              @@include("@@webRoot/icons/social-icons/facebook.svg")
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</footer>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v9.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/sk_SK/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<!-- Your Chat Plugin code -->
<div class="fb-customerchat"
     attribution=setup_tool
     page_id="157624021065088"
     logged_in_greeting="Dobrý deň, môžeme Vám nejako pomôcť alebo poradiť?"
     logged_out_greeting="Dobrý deň, môžeme Vám nejako pomôcť alebo poradiť?">
</div>

<div id="cookie" class="alert alert-warning" role="alert" style="display: none">
    <p>
        Používam cookies aby som sa čo najlepšie prispôsobil Vašim potrebám.
        Ak budete pokračovať v používaní tejto stránky zároveň tým súhlasíte s používaním cookies.
    </p>
    <button type="button" class="btn btn-light btn-sm">Súhlasím</button>
</div>

<script>
  function setCookie(name,value,days) {
    var expires = "";
    if (days) {
      var date = new Date();
      date.setTime(date.getTime() + (days*24*60*60*1000));
      expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
  }
  function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
  }
  function eraseCookie(name) {
    document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  }

  var cookie = getCookie('cookie');
  var cookieEl = document.getElementById('cookie');
  if (!cookie) {
    cookieEl.style.display = 'block';
  }
  cookieEl.addEventListener('click', function() {
    setCookie('cookie', 'true', 365);
    cookieEl.style.display = 'none';
  });
</script>
